@import '@/styles/variables'; 


.footer {
    background-color: $base-color; 
    color: white;
    padding: 2rem;
    text-align: center;
    width: 100%;
    font-size: 1.2rem;
    position: relative;
    box-sizing: border-box;

    .contactTitle {
        font-size: 2rem;
        margin-bottom: 1rem;
        font-family: 'Poppins', sans-serif; 
    }

    .footerContent {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .socialLinks {
        margin-bottom: 1rem;
        display: flex;
        gap: 2rem;

        a {
            color: white;
            margin: 0 1rem;
            text-decoration: none;
            font-size: 2rem; 
            transition: color 0.3s ease;

            &:hover {
                color: #ffcc00;
            }
        }

        .icon {
            color: white;
            width: 3rem; 
            height: 3rem; 
        }
    }

    .copyRight {
        font-size: 1rem;
    }
}

/* Media queries para hacer el footer responsive */
@media (max-width: 768px) {
    .footer {
        padding: 1.5rem;
        font-size: 1rem;
    }

    .contactTitle {
        font-size: 1.5rem;
    }

    .socialLinks {
        flex-direction: column;
        align-items: center;
        gap: 1rem;

        a {
            font-size: 1.5rem;
        }

        .icon {
            width: 2rem;
            height: 2rem;
        }
    }

    .copyRight {
        font-size: 0.875rem;
    }
}

@media (max-width: 480px) {
    .footer {
        padding: 1rem;
        font-size: 0.875rem;
    }

    .contactTitle {
        font-size: 1.25rem;
    }

    .socialLinks {
        gap: 0.5rem;

        a {
            font-size: 1.25rem;
        }

        .icon {
            width: 1.5rem;
            height: 1.5rem;
        }
    }

    .copyRight {
        font-size: 0.75rem;
    }
}