@import '@/styles/variables';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: $base-color;
    position: sticky;
    top: 0;
    z-index: 10;

    h3 {
        font-family: $custom-font;
    }

    span {
        font-family: $custom2-font;
        margin-right: 24px;
    }

    .logo {
        color: #FFFFFF;
        margin: 0;
        font-size: $header-font-size;
        margin-left: 30px;
        font-weight: bold;
    }

    .nav {
        display: flex;
        align-items: center;
        margin-left: auto;

        &.collapsed {
            display: none;
        }

        &.open {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            background-color: $base-color;
            width: 100%;
            padding: 10px 20px;
            margin-top: 10px;
        }
    }

    .link {
        text-decoration: none;
        color: #FFFFFF;
        margin: 10px 20px;
        padding: 10px;
        font-family: $third-font;
        font-size: $navbar-font-size;
        transition: color 0.3s ease, box-shadow 0.3s ease;
        position: relative;
        background-color: transparent;

        &:hover,
        &.active {
            &::after {
                content: '';
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                background-color: rgba($neon-color, 0.2);
                border-radius: 8px;
                box-shadow: 0 0 4px $neon-color, 0 0 8px $neon-color, 0 0 10px $neon-color;
                z-index: -1;
            }
        }
    }
}

/* Media queries para hacer el header responsive */
@media (max-width: 768px) {
    .menuToggle {
        display: block;
        z-index: 11; 
        position: absolute;
        top: 20px;
        right: 20px;
    }

    .nav {
        display: none;
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        background-color: $base-color;
        padding: 10px 20px;
        margin-top: 10px;
    }

    .nav.open {
        display: flex;
    }

    .nav a {
        font-size: 14px;
        padding: 6px 12px;
    }
}

.link {
    margin: 5px 0;
    padding: 10px;
    font-size: calc($navbar-font-size - 2px);
}

@media (max-width: 480px) {
    .header {
        padding: 10px;
        flex-direction: row;
        justify-content: center;
    }

    .nav {
        display: none !important;
    }

    .menuToggle {
        display: none !important;
    }

    .logo {
        font-size: calc($header-font-size - 10px);
        margin: 0 auto;
    }
}