@import '@/styles/variables'; 

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #0D0C1D;  
    color: #ffffff; 
    padding: 10px 20px;  
    text-align: center;  
    position: relative;  
    min-height: 675px;  

    svg{
        margin: auto;
        margin-left: 250px;
        margin-top: 200px;
    }

    text {
        font-size: 6.8rem;  
        fill: #0D0C1D;  
        font-weight: bold;
        font-family: $averia-font;
        text-anchor: middle;
        text-shadow: rgb(106, 17, 255) 3px 0px 0px, rgb(106, 17, 255) 2.83487px 0.981584px 0px, rgb(106, 17, 255) 2.35766px 1.85511px 0px, rgb(106, 17, 255) 1.62091px 2.52441px 0px, rgb(106, 17, 255) 0.705713px 2.91581px 0px, rgb(106, 17, 255) -0.287171px 2.98622px 0px, rgb(106, 17, 255) -1.24844px 2.72789px 0px, rgb(106, 17, 255) -2.07227px 2.16926px 0px, rgb(106, 17, 255) -2.66798px 1.37182px 0px, rgb(106, 17, 255) -2.96998px 0.42336px 0px, rgb(106, 17, 255) -2.94502px -0.571704px 0px, rgb(106, 17, 255) -2.59586px -1.50383px 0px, rgb(106, 17, 255) -1.96093px -2.27041px 0px, rgb(106, 17, 255) -1.11013px -2.78704px 0px, rgb(106, 17, 255) -0.137119px -2.99686px 0px, rgb(106, 17, 255) 0.850987px -2.87677px 0px, rgb(106, 17, 255) 1.74541px -2.43999px 0px, rgb(106, 17, 255) 2.44769px -1.73459px 0px, rgb(106, 17, 255) 2.88051px -0.838247px 0px;
    }

    .text-container{
        font-size: 1.5rem;  
        margin-bottom: 180px; 
        color: #FFFFFF;
        text-shadow:
            2px 2px 4px rgba(0, 0, 0, 0.75),
            0px 0px 10px rgba(255, 255, 255, 0.8);
    }

    .star {
        position: absolute;
        font-size: 1.5rem;
        color: white;
        opacity: 0;
        animation: twinkle 2s infinite ease-in-out;
        bottom: 75%;
    
        &::before {
            content: '♪'; 
            display: block; 
        }
    }

    .star:nth-child(1){
        bottom: 8%;
        left: 22%;
        animation-delay: 2.5s;
    }

    .star:nth-child(2){
        top: 16%;
        left: 55%;
        animation-delay: 3s;
    }

    .star:nth-child(3){
        top: 18%;
        left: 3%;
        animation-delay: 3.5s;
    }

    .star:nth-child(4){
        top: 58%;
        left: 90%;
        animation-delay: 4s;
    }

    .star:nth-child(5){
        top: 70%;
        left: 70%;
        animation-delay: 4.5s;
    }
    
    @keyframes twinkle {
        0%, 100% {
            opacity: 0;
            transform: scale(0.5);
        }
        50% {
            opacity: 1;
            transform: scale(1.2);
        }
    }
}