@import '@/styles/variables'; 

.hero {
    background-color: #0D0C1D;  
    color: #ffffff; 
    padding: 40px 20px;  
    text-align: center;  
    position: relative;  
    min-height: 300px;  

    svg{
        transform: translate(30rem, 80px); 
    }

    text {
        font-size: 4.8rem;  
        fill: #4C2A85;  
        font-weight: bold;
        font-family: $averia-font;
        text-anchor: middle;
        text-shadow: rgb(118, 121, 178) 3px 0px 0px, rgb(118, 121, 178) 2.83487px 0.981584px 0px, rgb(118, 121, 178) 2.35766px 1.85511px 0px, rgb(118, 121, 178) 1.62091px 2.52441px 0px, rgb(118, 121, 178) 0.705713px 2.91581px 0px, rgb(118, 121, 178) -0.287171px 2.98622px 0px, rgb(118, 121, 178) -1.24844px 2.72789px 0px, rgb(118, 121, 178) -2.07227px 2.16926px 0px, rgb(118, 121, 178) -2.66798px 1.37182px 0px, rgb(118, 121, 178) -2.96998px 0.42336px 0px, rgb(118, 121, 178) -2.94502px -0.571704px 0px, rgb(118, 121, 178) -2.59586px -1.50383px 0px, rgb(118, 121, 178) -1.96093px -2.27041px 0px, rgb(118, 121, 178) -1.11013px -2.78704px 0px, rgb(118, 121, 178) -0.137119px -2.99686px 0px, rgb(118, 121, 178) 0.850987px -2.87677px 0px, rgb(118, 121, 178) 1.74541px -2.43999px 0px, rgb(118, 121, 178) 2.44769px -1.73459px 0px, rgb(118, 121, 178) 2.88051px -0.838247px 0px;
    }

    p {
        font-size: 1.2rem;  
        margin-top: 20px; 
        color: #FFFFFF 
    }

    &::before, &::after {
        content: '♪';  
        font-size: 2rem;
        color: white;
        position: absolute;
        top: 10px;
    }

    &::before {
        left: 10px;  
    }

    &::after {
        right: 10px;  
    }
}