@import '@/styles/main';

$custom-font: 'Plz', sans-serif;
$custom2-font: 'Metdemo-BLMG';
$primary-font: 'Open Sans', sans-serif;
$secondary-font: 'Georgia', serif;
$third-font: 'Lato', sans-serif;
$recoleta-font: 'Recoleta', sans-serif;
$averia-font: 'Averia', serif;

$font-size-base: 16px; 
$header-font-size: 28px; 
$navbar-font-size: 24px;